div.modal.fade#productModal(tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-header
                h5.modal-title.fw-bold.text-primary#modalName
                button.btn-close(type="button"  data-bs-dismiss="modal" aria-label="Close")
            div.modal-body
                img.card-img-top.h-50.w-100
                div.pt-2
                    p.card-title
                    span.fw-bold.h5
                    i.fas.fa-lira-sign
                div.text-center.pb-2
                    form(action="/cart" method="post")
                        input(type="hidden" name="_csrf")
                        button(type = "submit" name = "productId")
                            i.fas.fa-shopping-cart.fa-2x.text-warning(role="button" title="Add to Cart")
script.

    const productModal = document.getElementById('productModal')
    productModal.addEventListener('show.bs.modal', event => {

        const button = event.relatedTarget,
            id = button.getAttribute('data-bs-id'),
            image = button.getAttribute('data-bs-image'),
            name = button.getAttribute('data-bs-name'),
            price = button.getAttribute('data-bs-price'),
            description = button.getAttribute('data-bs-description'),
            token = button.getAttribute("data-bs-csrfToken"),
            modalContent = productModal.querySelectorAll('h5,img,p,span,input,button')
        modalContent[0].textContent = name
        modalContent[2].setAttribute("src",`/img/${image}`)
        modalContent[2].setAttribute("alt",name)
        modalContent[2].setAttribute("title",name)
        modalContent[3].textContent = description
        modalContent[4].textContent = `${price} `
        modalContent[5].value = token
        modalContent[6].value = id
    });

