div.modal.fade(id=`deleteModal` tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
        div.modal-content.bg-danger
            div.modal-header
                h5.modal-title.fw-bold.text-warning.py-0.mt-0#modalName Are you sure you want to delete?
                button.btn-close(type="button"  data-bs-dismiss="modal" aria-label="Close")
            div.modal-body
                table
                    tr
                        td
                            img.figure-img(width="100")
                        td.ps-4
                            strong Name :&nbsp;
                            span#name
                            br
                            strong Price :&nbsp;
                            span#price
                            i.fas.fa-lira-sign
                            br
                            strong Description :&nbsp;
                            span#desc
            div.modal-footer
                form.d-inline-block(method="post" action="/admin/delete-product")
                    input#_csrf(type="hidden" name="_csrf")
                    input#_id(type="hidden" name="_id")
                    input#namei(type="hidden" name="name")
                    button.btn.btn-secondary(type="button"  data-bs-dismiss="modal") Close
                    button.btn.btn-warning.ms-2(type="submit") Delete
script.
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget
        const id = button.getAttribute('data-bs-id'),
            image = button.getAttribute('data-bs-image'),
            name = button.getAttribute('data-bs-name'),
            price = button.getAttribute('data-bs-price'),
            desc = button.getAttribute('data-bs-description'),
            token = button.getAttribute("data-bs-csrf")
        const contentModal = deleteModal.querySelector("img")
        contentModal.setAttribute("src", `/img/${image}`)
        contentModal.setAttribute("title", name)
        contentModal.setAttribute("alt", name)
        deleteModal.querySelector("#name").textContent = name
        deleteModal.querySelector("#price").textContent = `${price} `
        deleteModal.querySelector("#desc").textContent = desc
        deleteModal.querySelector("#_csrf").value = token
        deleteModal.querySelector("#_id").value = id
        deleteModal.querySelector("#namei").value = name
    });